<div class='header'>
	<a class="twitter-timeline"
	   href="https://twitter.com/{{profile}}?ref_src=twsrc%5Etfw"
	   data-width="300"
	   data-height="300">
		Tweets by @{{profile}}
	</a>
</div>

<div class='content'>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>