<div id='nav_bar' class='nav'>
  <ul>
    <li><a href="default.asp">Settings</a></li>
    <li><a href="news.asp">Account</a></li>
    <li><a href="contact.asp">Messages</a></li>
    <li><a href="about.asp">Favorites</a></li>
    <li><a href="about.asp">Me</a></li>
  </ul> 
</div>