{{> header title='\ front_challenge'}}

<div id='nav_bar_space' class='nav_bar_spcace'>
  {{> main_menu}}
</div>

<div id='widgets_spcae' class='widgets_space'>
  {{> widgets_zone}}
</div>

{{> footer}}